.aside-links {
    text-decoration: none;
    color: darkblue;
    margin: 2px;
    font-size: 24px;
    padding: 8px;
    width: 4em;
    text-align: center;
    border: 1px dashed white;
    border-radius: 12px 0 12px 0;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, rgb(6 175 255)) border-box;
}

.aside-links:visited {
    text-decoration: none;
}

.aside-links:hover {
    /* border: 2px dashed white; */

    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(6 175 255), darkblue) border-box;
}