.aside-links {
    text-decoration: none;
    color: darkblue;
    margin: 2px;
    font-size: 24px;
    padding: 8px;
    width: 4em;
    text-align: center;
    border: 3px solid transparent;
    border-radius: 12px;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, rgb(6 175 255)) border-box;
}
/* I would like to add a transition state between .aside-links and .aside-links:hover 3.22.2023 */

.aside-links:visited {
    text-decoration: none;
}

.aside-links:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(6 175 255), darkblue) border-box;
}