/* at 1188px will need to add media query to switch the flex direction to row // position currently fixed  */
.aside-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: fit-content;
    margin: 12px;
    padding: 6px;
    float: right;
    top: 0;
    right: 0;
}

@media (max-width: 1187px) {
    .aside-bar {
        margin: 6px;
        padding: 3px;
    }
}


.aside-button {
    cursor: pointer;
    color: darkblue;
    margin: 2px;
    font-size: 24px;
    padding: 8px;
    width: 116.8px;
    text-align: center;
    border: 3px dashed white;
    border-radius: 12px 0 12px 0;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, darkblue, rgb(6 175 255)) border-box;
}

/* Flip the background linear-gradent here for a cool onhover effect  */
.aside-button:hover {

    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(6 175 255), darkblue) border-box;
}

.show-aside-button::after {
    content: "Show";
}

.hide-aside-button::after {
    content: "Hide";
}

@keyframes fade-out {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}