/* Holds styling for containers.js and landing.js  */
/* This currently holds the style for our header -- which is currently the tabs and data that shows*/
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

